@use "sass:color";
@use '../base/variables' as v;

@mixin btn($bg_color) {
    display: inline-block;
    padding: 2rem 3rem;
    background: $bg_color;
    border-radius: v.$b_radius;
    cursor: pointer;
    transition: opacity 200ms ease-out;

    &:hover {
        opacity: 0.85;
    }
}

@mixin grid($columnas, $gap) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $gap;
}

@mixin telefono-pequeno {
    @media (min-width: v.$telefono_pequeno) {
        @content;
    }
}

@mixin telefono-mediano {
    @media (min-width: v.$telefono_mediano) {
        @content;
    }
}

@mixin telefono-grande {
    @media (min-width: v.$telefono_grande) {
        @content;
    }
}

@mixin tablet-pequena {
    @media (min-width: v.$tablet_pequena) {
        @content;
    }
}

@mixin tablet-grande {
    @media (min-width: v.$tablet_grande) {
        @content;
    }
}

@mixin desktop-mediana {
    @media (min-width: v.$desktop_mediana) {
        @content;
    }
}

@mixin desktop-grande {
    @media (min-width: v.$desktop_grande) {
        @content;
    }
}

@mixin sombra {
    &::before {
        content: "";
        position: absolute;
        top: 1%;
        right: 20%;
        width: 35rem;
        height: 35rem;
        z-index: -1;
        background: linear-gradient(135deg,
                hsla(250, 73%, 67%, 0.27) 0%,
                hsla(201, 87%, 52%, 0.27) 100%);
        border-radius: 50%;
        filter: blur(60px);
        box-shadow: 0 0 100px hsla(250, 73%, 67%, 0.4);
        will-change: filter;
        pointer-events: none;
    }
}